<ion-content [fullscreen]="true" class="gestion-content">
  <div class="gestion-container">
    <div class="logo-container">
      <img src="./assets/logo.png" class="logo">
      <h1 class="app-title">Gourmet QL</h1>
    </div>

    <ion-card class="gestion-card">
      <!-- Título fijo -->
      <ion-header class="card-header">
        <ion-toolbar class="title">
          <ion-title>Solicitud de ingreso</ion-title>
        </ion-toolbar>
      </ion-header>

      <!-- Lista que scrollea -->
      <div class="list-scroll">
        <ion-list>
          @for(cliente of clientesPendientes; track cliente){
            <ion-item>
              <ion-label>
                <h2>{{ cliente.nombre }} {{ cliente.apellido }}</h2>
                <p>Email: {{ cliente.email }}</p>
              </ion-label>
              <ion-button (click)="aprobar(cliente)" [disabled]="loading" color="success">
                <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                <span *ngIf="!loading">Aprobar</span>
              </ion-button>
              <ion-button (click)="rechazar(cliente)" [disabled]="loading" color="danger">
                <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                <span *ngIf="!loading">Rechazar</span>
              </ion-button>
            </ion-item>
          }
        </ion-list>

        @if(clientesPendientes.length === 0){
          <ion-item>
            <ion-label>No hay clientes pendientes</ion-label>
          </ion-item>
        }
      </div>
    </ion-card>
  </div>
</ion-content>
