<!-- Header vacío/transparente -->
<ion-header class="ion-no-border header-transparente">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="gourmet-content">
  <div class="form-container">
    
    <!-- Header Interno -->
    <div class="inner-header">
      <ion-buttons>
        <ion-back-button defaultHref="/home" mode="md" class="custom-back-btn"></ion-back-button>
      </ion-buttons>
      <h1 class="inner-title">Agregar Mesa</h1>
    </div>
    
    <!-- INFO MESA CARD -->
    <div class="gourmet-card">
      <h3 class="section-title">Información General</h3>
      
      <ion-item class="gourmet-input">
        <ion-label position="floating">Número de Mesa</ion-label>
        <ion-input type="number" [(ngModel)]="numero" min="1" max="999"></ion-input>
      </ion-item>

      <ion-item class="gourmet-input">
        <ion-label position="floating">Comensales</ion-label>
        <ion-input type="number" [(ngModel)]="cantidadComensales" min="1" max="20"></ion-input>
      </ion-item>

      <ion-item class="gourmet-input">
        <ion-label position="floating">Tipo</ion-label>
        <ion-select [(ngModel)]="tipo" interface="action-sheet" cancelText="Cancelar">
          <ion-select-option value="estandar">Estándar</ion-select-option>
          <ion-select-option value="vip">VIP</ion-select-option>
          <ion-select-option value="movilidad_reducida">Movilidad Reducida</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- FOTO CARD -->
    <div class="gourmet-card">
      <h3 class="section-title">Fotografía</h3>
      
      @if (foto) {
        <div class="foto-preview-container">
          <img [src]="foto.url" class="mesa-img" alt="Foto Mesa">
          <div class="overlay-actions">
            <ion-button color="danger" (click)="eliminarFoto()">
              <ion-icon name="close-circle" slot="start"></ion-icon>
              Eliminar
            </ion-button>
          </div>
        </div>
      } @else {
        <div class="foto-buttons-grid">
          <ion-button expand="block" fill="outline" class="btn-secondary" (click)="agregarFoto('camera')">
            <ion-icon name="camera" slot="start"></ion-icon>
            Cámara
          </ion-button>
        </div>
      }
    </div>

    <div class="action-buttons">
      <ion-button 
        expand="block" 
        class="btn-gourmet-primary" 
        (click)="guardarMesa()">
        <ion-icon name="save" slot="start"></ion-icon>
        Agregar Mesa
      </ion-button>
    </div>

  </div>
</ion-content>