$bg: #1b1b2f;
$text: #ffffff;
$primary: #ff3d00;
$secondary: #ffea00;
$correct: #00ff85;
$wrong: #ff3d00;

.quiz-container {
  width: 90%;
  max-width: 600px;
  margin: 90px auto;
  padding: 40px;
  background: linear-gradient(135deg, #2c2c54, #1b1b2f);
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0,0,0,0.7);
  color: $text;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: $secondary;
  text-shadow: 2px 2px #000;
}

.question {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.answer-input {
  font-size: 2rem;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid $secondary;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: $primary;
    box-shadow: 0 0 10px $primary;
  }
}

.submit-btn, .restart-btn {
  background: $secondary;
  color: #1b1b2f;
  font-weight: bold;
  font-size: 1.9rem;
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px #000;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 8px #000;
  }

  &:disabled {
    background: grey;
    cursor: not-allowed;
    box-shadow: 0 2px #000;
  }
}

.feedback {
  font-size: 2rem;
  margin-top: 30px;
  font-weight: bold;
  animation: flash 0.6s;

  &.correct {
    color: $correct;
    text-shadow: 0 0 15px $correct;
  }

  &.wrong {
    color: $wrong;
    text-shadow: 0 0 15px $wrong;
  }
}

.result {
  h2 {
    color: $primary;
    text-shadow: 2px 2px #000;
  }

  p {
    font-size: 1.3rem;
    margin: 15px 0;
  }
}

@keyframes flash {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


/*BOTON TERMINAR*/
.finish-btn {
  margin-left: 5px;
  background: linear-gradient(45deg, #00c853, #64dd17);
  border: none;
  padding:  12px 25px;
  margin-top: 20px;
  font-size:  1.9rem;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  transform: scale(1);
}

.finish-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

.finish-btn:active {
  transform: scale(0.95);
}
